div#map_wrapper {
    position: fixed;
}

div#map_canvas {
    position: fixed;
    float: left;
    width: 70%;
    min-height: 100%;
    min-width: 240px;
    z-index: 1;
}

div#container {
    margin: 0;
    width: 30%;
    display: block;
    float: right;
    z-index: 2;
}
