body {
    background-color: #505050;
}

div#map_wrapper {
    position: fixed;
}

div#map_canvas {
    position: fixed;
    float: left;
    width: 70%;
    min-height: 100%;
    min-width: 240px;
    z-index: 1;
}

div#container {
    margin: 0;
    width: 30%;
    display: block;
    float: right;
    z-index: 2;
}

ul.address {
    margin: 2% 10%;
    padding: 1%;
    background-color: #fafafa;
    position: relative;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    height: 3em;
}

ul.address:hover {
    background-color: #f5f5f5;
}

div#left {
    display: inline-block;
    position: absolute;
    left: 1%;
    top: 50%;
    width: 49%;
    height: 80%;
    color: #303030;
    font-size: 2em;
    line-height: 1.5em;
    margin: -40% 0 0 0;
}

div#right {
    display: inline-block;
    position: absolute;
    text-align: right;
    right: 1%;
    top: 50%;
    width: 49%;
    height: 80%;
    color: #909090;
    font-size: 0.8em;
    margin: -40% 0 0 0;
}
