<!DOCTYPE html>
<html>

  <head>
      <link rel=stylesheet type=text/css href="{{ STATIC_URL }}global.css">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>

  {% block body %}
    <body>
  {% endblock %}
    {% block header %}
    {% endblock %}
    {% block map %}
    {% endblock %}
    <div id='container'>
      {% block content %}{% endblock %}
      <div id='footer'>
        {% block footer %}{% endblock %}
      </div>
    </div>
  </body>

</html>
