{% extends "base.html" %}

{% block head%}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaRYFkamupXUAd2HOOAnqgB_sU7mqWX2k&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(37.531, -122.173),
          zoom: 11,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block title %}addr{% endblock %}

{# if logged in #}
{% block body %}
  <body>
{% endblock %}

{% block map %}
  <div id="map_canvas" style="position: fixed !important;"></div>
{% endblock %}

{% block content %}
  {% for address in addresses %}
    <ul class="address">
      <div id="left">
        {{ address.name }}
      </div>
      <div id="right">
        {{ address.line_one }}</br>
        {% if address.line_two %}
          {{ address.line_two }}</br>
        {% endif %}
        {{ address.city }}, {{ address.state }} {{ address.zip_code }}
      </div>
    </ul>
  {% endfor %}
    <ul class="add_address">
        <form name="add_addr" action="" method="post">{% csrf_token %}
        <input id="addr_long" type="text" name="name" value="Name"></br>
        <input id="addr_long" type="text" name="line_one" value="Address Line 1"></br>
        <input id="addr_long" type="text" name="line_two" value="Address Line 2"></br>
        <input id="addr_city" type="text" name="city" value="City">
        <select id="addr_state" name="state">
          <option value="CA">CA</option>
          <option value="NY">NY</option>
          <option value="TX">TX</option>
        </select>
        <input id="addr_zip" type="text" name="zip_code" value="Zip Code">
        <input type="submit" value="Submit">
        {% if errors %}
          {{ errors }}
        {% endif %}
      </form>
    </ul>
{% endblock %}

{% block footer %}
<p>Built by <a href="http://www.sitongpeng.com">Sitong Peng</a>. Contribute to the <a href="https://github.com/stoneG/addr">project</a>.</p>
{% endblock %}
